<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>

<style>
    body{
        display: flex;
        flex-direction: column;
        margin: 5px;
        background-color: #F5FFFA;
        font-size: 18px;
        font-family: sans-serif;
        justify-content: space-around;
        padding: 5px;
    }

    li{
        margin: 5px;
        margin-bottom: 10px;
        list-style: none;
    }

    h1{
        text-align: center;
        color: #ff0000;
    }
    .blueText{
        color: blue;
    }

    .greenText{
        color: #00FF00;
    }
</style>
<body>
        <h1><span class="blueText">teen</span><span class="greenText">Quiz</span> Documentation</h1>

        <p>
           <ol>
               <p style="color: blue;">NB:<span class="blueText">teen</span><span class="greenText">Quiz</span> will be a fun logical test quizz
                <br> No asking unrelated questions!
                </p>


<li>1). The quizz starts with default questions basically for the pioneers(5)
who will automatically become the masters.</li>

<li>2). "Teen masters"(the first 5), will set 
the beginer(fresher) questions for the next joiners. 
Then, those who join will have to answer the 
questions to get promoted to the next level.</li>

<li>3). "Masters" will set the questions together with the answers
and then submit them to tyhe database.</li>

<li>4). "Masters" will also participate in the answers since
the master level also has their own (though the questions here have no limit).</li>

<li>5). Users wont be able to identify eachother
since there can be cheating of the quizz.</li>

<li>6). promotion will be done automatically only if
a user answers 70% of the average questions 
available at that very level.</li>

<li>7). Every level will have a minimum 10 logical questions.
Complexity will depend on the level.</li>

<li>8). Always unaswered questions will be filterd(at master level )
and presented for who ever can answer.</li>

<li>9). Masters will have the option to decide
to which level the question is set.</li>

<li>10). Level unspecified questions will be
directed to the master class.</li>
           </ol>
        </p> 
    
</body>
</html>